/* ==== ESTILOS GERAIS ==== */

body {
    padding-top: 72px;
}

/* ==== NAV ==== */

.nav-link:hover {
    cursor: pointer;
}

/* ==== MAIN ==== */

main {
    min-height: 90vh;
}

main h1 {
    padding-top: 120px;
}

main h1::after {
    content: '|';
    margin-left: 4px;
    opacity: 1;
    animation: cursor 700ms infinite;
}

@keyframes cursor {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* ==== SOBRE ==== */

#sobre {
    padding-top: 100px;
    min-height: 100vh;
}

h2 {
    color: #000;
    font-weight: bold;
}

.link {
    color: #212529;
    font-weight: bold;
}

.link:hover {
    color: #000;
    text-decoration: none;
}

/* ==== PORTFÓLIO ==== */

#portfolio {
    padding-top: 80px;
}

#portfolio img {
    border-radius: 10px;
    max-width: 500px;
}

#portfolio ul li {
    list-style: none;
}

#portfolio .bg {
    background: linear-gradient(90deg, rgba(251,223,219,1) 0%, rgba(253,240,238,1) 99%);
}

/* === FOOTER === */

footer .bg {
    background-color: #111;
}

footer .link {
    color: #fff;
    font-weight: normal;
    text-decoration: underline;
}

footer .link:hover {
    color: #000;
    text-decoration: underline;
}
/* ==== MEDIA QUERIES ==== */

@media (max-width: 991px) {
    main .display-1 {
        font-size: 74px;
    }
}

@media (max-width: 767px) {
    main .display-1 {
        font-size: 56px;
    }
}

@media (max-width: 575px) {
    main .display-1 {
        font-size: 46px;
        padding-left: 15px;
    }
}